<header>
  <div class= "site-navigation container">
   
      <nav class="nav navbar-nav navbar-fixed top">
        <div class="row">
          <ul class ="menu thin-font">
            <li><%= link_to image_tag("veggies.png",size: "70x58", id:'logo'), root_path, target:"_blank"%></li>
            <li><%= link_to "Home", root_path %></li>
             <li><%= link_to "Calories Guesser", guess_path, class:'cherry' %></li>
            <li><%= link_to "Help", help_path %></li>
          
            <!-- <li> <%= link_to "Log in", '#' %> </li> -->
          </ul>
        </div>
      </nav>
  </div>
</header>